# -- General ignores --

# Main C++ build folder
build/*

# Test project folder
test/*

# All the python cache. Anywhere.
__pycache__

# Third party libraries sources
vendor/capstone
vendor/cpython
vendor/freetype
vendor/glfw
vendor/imgui
vendor/nfd
vendor/ppqsort
vendor/sdl
vendor/tracy
vendor/zstd